In [7]:
import pandas as pd
import psycopg2
from datetime import time,datetime

In [8]:
start_time = '2024-10-14 00:00:00'
end_time = '2024-11-02 00:00:00'
pd_start_time = pd.to_datetime(start_time)
pd_end_time = pd.to_datetime(end_time)

In [9]:
# Connect to PostgreSQL
conn = psycopg2.connect("postgresql://postgres:postgres@localhost/db01")
cursor = conn.cursor()

In [10]:
select_query_queue_log_call_log = """
    WITH finished_call_ids AS (
    SELECT callid  
    FROM call_logs 
    WHERE "q_event" IN ('EXITEMPTY', 'COMPLETEAGENT', 'COMPLETECALLER', 'ABANDON')
    )
        SELECT ql.* 
        FROM call_logs ql
        JOIN finished_call_ids fci ON ql.callid = fci.callid;
    """

In [11]:
cursor.execute(select_query_queue_log_call_log,(start_time,end_time))#{'start_time':start_time,'end_time':end_time})

In [12]:
call_log_data = cursor.fetchall()

In [13]:
call_log_column = [desc[0] for desc in cursor.description]

In [14]:
select_query_queue_log_agent_log = """select time,q_name,q_agent,"q_event" 
from call_logs
where "q_event" 
in ('PAUSE','UNPAUSE','ADDMEMBER','REMOVEMEMBER') 
;"""

In [15]:
cursor.execute(select_query_queue_log_agent_log,(start_time,end_time))#{'start_time':start_time,'end_time':end_time})
agent_log_data = cursor.fetchall()
agent_log_column = [desc[0] for desc in cursor.description]

In [16]:
# Close the cursor and connection
cursor.close()  # Closes the cursor
conn.close()  # Closes the database connection

In [17]:
#call_log.head()

In [18]:
call_log = (
    pd.DataFrame(call_log_data,columns=call_log_column)
    .assign(
        queuename= lambda x: x.q_name.astype('category'),
        agent = lambda x: x.q_agent.astype('category'),
        event = lambda x: x.q_event.astype('category'),
    )
)
call_log = call_log.drop(columns=['q_name', 'q_agent', 'q_event'])

In [19]:
call_log.head()

,entrydate,time,callid,data1,data2,data3,data4,data5,container_id,skillset,circle,zone,agent_name,state,queuename,agent,event
0,2024-09-28,12:45:11,1727420393.35994,11.0,906,1.0,None,None,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_LSA_WB,LSA WB,EZ,Diya Dey,None,6200,PJSIP/2303,COMPLETECALLER
1,2024-09-28,12:37:16,1727420611.36025,1.0,224,1.0,None,None,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Hin_KOL,KOL,EZ,Babita kumari show,None,6200,PJSIP/2294,COMPLETECALLER
2,2024-09-28,12:38:56,1727420666.31767,1.0,269,1.0,None,None,BRACDIVRSDC0006,SK_SET:BB_CNPcsexe_Hin_LSA_BR,LSA BR,EZ,Ankita Hansda,None,6200,PJSIP/2580,COMPLETECALLER
3,2024-09-28,12:37:43,1727420836.36059,27.0,1727420862.36065,0.0,None,None,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Hin_KOL,KOL,EZ,Rani Barai,None,6200,PJSIP/2277,CONNECT
4,2024-09-28,12:37:17,1727420836.36059,NaN,7003562926,1.0,None,None,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Hin_KOL,KOL,EZ,,None,6200,NONE,ENTERQUEUE

In [20]:
call_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823211 entries, 0 to 823210
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   entrydate     823211 non-null  object
 1   time          823211 non-null  object
 2   callid        823211 non-null  object
 3   data1         567048 non-null  float64
 4   data2         823211 non-null  object
 5   data3         745198 non-null  float64
 6   data4         0 non-null       object
 7   data5         0 non-null       object
 8   container_id  823211 non-null  object
 9   skillset      823211 non-null  object
 10  circle        823211 non-null  object
 11  zone          823211 non-null  object
 12  agent_name    823211 non-null  object
 13  state         0 non-null       object
 14  queuename     823211 non-null  category
 15  agent         823211 non-null  category
 16  event         823211 non-null  category
dtypes: category(3), float64(2), object(12)
memory usage: 91.1+ MB

In [21]:
agent_log = (
    pd.DataFrame(agent_log_data,columns=agent_log_column)
    .assign(
        queuename= lambda x: x.q_name.astype('category'),
        agent = lambda x: x.q_agent.astype('category'),
        event = lambda x: x.q_event.astype('category'),
    )
)
agent_log = agent_log.drop(columns=['q_name', 'q_agent', 'q_event'])

In [22]:
agent_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48359 entries, 0 to 48358
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       48359 non-null  object
 1   queuename  48359 non-null  category
 2   agent      48359 non-null  category
 3   event      48359 non-null  category
dtypes: category(3), object(1)
memory usage: 577.0+ KB

In [23]:
(
    call_log
    .query("event in ['ENTERQUEUE', 'CONNECT', 'ADDMEMBER', 'COMPLETECALLER', 'COMPLETEAGENT', 'ABANDON', 'EXITEMPTY']")
    .pivot_table(index='callid', columns='event', values='time', aggfunc='first',observed=False)
    .assign(
        COMPLETE=lambda x: x['COMPLETEAGENT'].combine_first(x['COMPLETECALLER']),  # Prioritize COMPLETEAGENT, fallback to COMPLETECALLER
        AGENT_COMPLETED=lambda x: x['COMPLETEAGENT'].notna()                      # True if COMPLETEAGENT has data
    )
    [['ENTERQUEUE', 'ABANDON', 'EXITEMPTY', 'CONNECT', 'COMPLETE', 'AGENT_COMPLETED']]  # Final column selection
)

event,ENTERQUEUE,ABANDON,EXITEMPTY,CONNECT,COMPLETE,AGENT_COMPLETED
callid,,,,,,
1727420393.35994,NaN,NaN,NaN,NaN,12:45:11,False
1727420611.36025,NaN,NaN,NaN,NaN,12:37:16,False
1727420666.31767,NaN,NaN,NaN,NaN,12:38:56,False
1727420836.36059,12:37:17,NaN,NaN,12:37:43,12:38:07,False
1727420864.31795,NaN,NaN,NaN,12:38:05,12:38:26,False
...,...,...,...,...,...,...
1730488211.538448,00:40:11,NaN,NaN,00:40:11,00:41:01,False
1730488701.310605,00:48:21,NaN,NaN,00:48:32,00:49:28,False
1730489060.310613,00:54:20,NaN,NaN,00:54:31,00:57:17,False
1730489304.310621,00:58:24,00:58:27,NaN,NaN,NaN,False
1730489615.310634,01:03:35,01:03:36,NaN,NaN,NaN,False

In [24]:
(
    call_log.query("event=='ENTERQUEUE'")
    [['callid','time','queuename','data2']]
    .rename(columns={'data2':'src','time':'ENTERQUEUE'})
)

                   callid ENTERQUEUE queuename         src
4        1727420836.36059   12:37:17      6200  7003562926
13       1727420931.36071   12:38:51      6200  9831341570
16       1727420966.31811   12:39:26      6200  7250940187
18       1727420986.36074   12:39:46      6200  7797199791
22       1727420992.36076   12:39:52      6200  9831041580
...                   ...        ...       ...         ...
823197  1730488211.538448   00:40:11      6200  8248003980
823199  1730488701.310605   00:48:21      6200  7449858710
823204  1730489060.310613   00:54:20      6200  9832793421
823205  1730489304.310621   00:58:24      6200  9748791497
823207  1730489615.310634   01:03:35      6200  9832793421

[255870 rows x 4 columns]

In [25]:
(
    call_log.query("event=='CONNECT'")
    [['callid','time','agent','data1']]
    .assign(waited_duration  = lambda x : x.data1.astype('float'))
    .rename(columns={'time':'CONNECT'})
    
    # .info()
)

                   callid   CONNECT       agent  data1  waited_duration
3        1727420836.36059  12:37:43  PJSIP/2277   27.0             27.0
9        1727420864.31795  12:38:05  PJSIP/2590   21.0             21.0
10       1727420931.36071  12:38:52  PJSIP/2289    1.0              1.0
14       1727420966.31811  12:39:27  PJSIP/2592    1.0              1.0
19       1727420986.36074  12:39:56  PJSIP/2264   10.0             10.0
...                   ...       ...         ...    ...              ...
823192  1730488097.310574  00:39:08  PJSIP/2283   51.0             51.0
823194  1730488210.310597  00:40:11  PJSIP/2297    1.0              1.0
823196  1730488211.538448  00:40:11  PJSIP/1461    0.0              0.0
823200  1730488701.310605  00:48:32  PJSIP/2297   11.0             11.0
823202  1730489060.310613  00:54:31  PJSIP/2297   11.0             11.0

[233419 rows x 5 columns]

In [26]:
(
    call_log.query("event in ('COMPLETECALLER','COMPLETEAGENT')")
    [['callid','time','data2']]
    .assign(call_duration  = lambda x : x.data2.astype('float'))
    .rename(columns={'time':'COMPLETE'})
)

                   callid  COMPLETE data2  call_duration
0        1727420393.35994  12:45:11   906          906.0
1        1727420611.36025  12:37:16   224          224.0
2        1727420666.31767  12:38:56   269          269.0
7        1727420836.36059  12:38:07    24           24.0
8        1727420864.31795  12:38:26    21           21.0
...                   ...       ...   ...            ...
823188  1730488097.310574  00:39:09     1            1.0
823195  1730488210.310597  00:42:26   135          135.0
823198  1730488211.538448  00:41:01    49           49.0
823201  1730488701.310605  00:49:28    56           56.0
823203  1730489060.310613  00:57:17   166          166.0

[233452 rows x 4 columns]

In [27]:
(
    call_log.query("event in ('ABANDON','EXITEMPTY')")
    [['callid','time','data3','event']]
    .assign(waited_duration  = lambda x : x['data3'])
    .pivot_table(index=['callid','waited_duration'], columns=['event'], values='time', observed = 'FALSE',aggfunc='first')
    .reset_index()
)

event             callid  waited_duration   ABANDON EXITEMPTY
0       1727421287.31850              3.0  12:44:50       NaN
1       1727422233.36291              6.0  13:00:39       NaN
2       1727422367.32013              0.0  13:02:47       NaN
3       1727422481.32029              4.0  13:04:45       NaN
4       1727422533.36371              6.0  13:05:39       NaN
...                  ...              ...       ...       ...
22452  1730486968.310302            214.0  00:23:02       NaN
22453  1730487025.310314             10.0  00:20:35       NaN
22454  1730487053.310327            175.0  00:23:48       NaN
22455  1730489304.310621              3.0  00:58:27       NaN
22456  1730489615.310634              1.0  01:03:36       NaN

[22457 rows x 4 columns]

In [28]:
def find_hold_time(group: pd.DataFrame):
    if not group.shape[0]>2:
        return 0
    if group['event'].iloc[-2]=='HOLD':
        group['event'].iloc[-1] = 'UNHOLD'
    return group.assign(
            duration = lambda x: pd.to_datetime(x['time']).diff()#.dt.total_seconds()
        ).query('event == "UNHOLD"')['duration'].sum()

In [29]:
(
    call_log
    [['time','callid','event']]
    .query("event in ('HOLD','UNHOLD','COMPLETECALLER','COMPLETEAGENT')")
    .sort_values(['callid','time'])
    .groupby('callid')
    .apply(find_hold_time, include_groups=False)
    .reset_index()
    .rename(columns={0:'hold_duration'})
    
)

                   callid  hold_duration
0        1727420393.35994              0
1        1727420611.36025              0
2        1727420666.31767              0
3        1727420836.36059              0
4        1727420864.31795              0
...                   ...            ...
233447  1730488097.310574              0
233448  1730488210.310597              0
233449  1730488211.538448              0
233450  1730488701.310605              0
233451  1730489060.310613              0

[233452 rows x 2 columns]

In [30]:
record_of_calls = (
    call_log.query("event=='ENTERQUEUE'")[["callid", "time", "queuename", "data2"]]
    .rename(columns={"data2": "src", "time": "ENTERQUEUE"})
    .merge(
        call_log.query("event in ('ABANDON','EXITEMPTY')")[
            ["callid", "time", "data3", "event"]
        ].assign(waited_duration_abandon=lambda x: x.data3)[
            ["callid", "time", "waited_duration_abandon", "event"]
        ]
        # .rename(columns={'data3':'waited_duration_abandon'})
        .pivot_table(
            index=["callid", "waited_duration_abandon"],
            columns=["event"],
            values="time",
            observed="false",
            aggfunc='first'
        ).reset_index(),
        on=["callid"],
        how="outer",
    )
    .merge(
        call_log.query("event=='CONNECT'")[["callid", "time", "agent", "data1"]]
        .assign(waited_duration=lambda x: x.data1.astype(float))[
            ["callid", "time", "agent", "waited_duration"]
        ]
        .rename(columns={"time": "CONNECT"}),
        on=["callid"],
        how="outer",
    )
    .merge(
        call_log.query("event in ('COMPLETECALLER','COMPLETEAGENT')")[
            ["callid", "time", "data2"]
        ]
        .assign(call_duration=lambda x: x.data2.astype(float))[
            ["callid", "time", "call_duration"]
        ]
        .rename(columns={"time": "COMPLETE"}),
        on=["callid"],
        how="outer",
    )
    .merge(
        call_log[["time", "callid", "event"]]
        .query("event in ('HOLD','UNHOLD','COMPLETECALLER','COMPLETEAGENT')")
        .sort_values(["callid", "time"])
        .groupby("callid")
        .apply(find_hold_time,include_groups=False)
        .reset_index()
        .rename(columns={0: "hold_duration"}),
        on=["callid"],
        how="left",
    )
    .assign(
        waited_duration=lambda x: x.waited_duration.fillna(x.waited_duration_abandon),
        call_duration=lambda x: x.call_duration.fillna(0),
        hold_duration=lambda x: x.hold_duration.fillna(0)

    )[
        [
            "callid",
            "queuename",
            "src",
            "ENTERQUEUE",
            "ABANDON",
            "EXITEMPTY",
            "CONNECT",
            "COMPLETE",            
            "agent",
            "waited_duration",
            "call_duration",
            "hold_duration",
        ]
    ]
    # .info()
    .replace({pd.NaT:None})
)
record_of_calls = record_of_calls.dropna(subset=["queuename"])

In [31]:
#record_of_calls.to_csv('record_of_calls.csv', index=True)

In [32]:
def fillna_at_start_index(series, value):
    if pd.isna(series.iloc[0]):
        series.iloc[0] = value
    return series

def fillna_at_end_index(series, value):
    if pd.isna(series.iloc[-1]):
        series.iloc[-1] = value
    return series

def find_login_dur(group: pd.DataFrame):
    login_event = pd.DataFrame({'time': pd_start_time, 'event': 'ADDMEMBER'},index=[-1])
    logout_event = pd.DataFrame({'time': pd_end_time, 'event': 'REMOVEMEMBER'},index=[group.shape[0]])
    # print(group)
    return pd.concat(
        [
                login_event if group['event'].iloc[0]=='REMOVEMEMBER' else None,
                group,
                logout_event if group['event'].iloc[-1]=='ADDMEMBER' else None
             ]
        ).assign(
            duration = lambda x: pd.to_datetime(x['time']).diff(),#.dt.total_seconds()
            first_login = lambda x: x['time'].iloc[0],
            last_logout = lambda x: x['time'].iloc[-1]
        ).query(
            'event == "REMOVEMEMBER"'
        ).assign(login_duration = lambda x: x.duration.sum())[['login_duration','first_login','last_logout']]

    
    # new_df['diff']=pd.to_datetime(new_df['time']).diff() #.dt.total_seconds()
    # return pd.DataFrame({'login_time':new_df.query('event == "REMOVEMEMBER"')['diff'].sum()},index=[1])

def find_break_dur(group: pd.DataFrame):
    breakout_event = pd.DataFrame({'time': pd_start_time, 'event': 'PAUSE'},index=[-1])
    breakin_event = pd.DataFrame({'time': pd_end_time, 'event': 'UNPAUSE'},index=[group.shape[0]])
    # print(group)
    return pd.concat(
            [
                breakout_event if group['event'].iloc[0]=='UNPAUSE' else None,
                group,
                breakin_event if group['event'].iloc[-1]=='PAUSE' else None
             ]
        ).assign(
            duration = lambda x: pd.to_datetime(x['time']).diff()#.dt.total_seconds()
        ).query('event == "UNPAUSE"').assign(break_duration = lambda x: x.duration.sum())['break_duration']

In [33]:
from datetime import time, datetime

# Check if 'time' is in the correct datetime format
if agent_log['time'].dtype == 'object':
    # If the 'time' column contains only time (no date), we can convert it
    agent_log['time'] = agent_log['time'].apply(lambda t: pd.Timestamp.combine(pd.Timestamp('today'), t) if isinstance(t, time) else t)

In [34]:
agent_login_events =(
    agent_log
    [['time','queuename','agent','event']]
    .query("event in ('ADDMEMBER','REMOVEMEMBER')")
    .drop_duplicates(subset=['agent', 'queuename', 'time', 'event'])  # Remove duplicates in login events
    .sort_values(['agent','queuename','time'])
    .groupby(['queuename','agent'],observed=False)
    [['time','event']]
    .apply(find_login_dur)
    .merge(
        agent_log
        [['time','queuename','agent','event']]
        .query("event in ('PAUSE','UNPAUSE')")
        .drop_duplicates(subset=['agent', 'queuename', 'time', 'event'])  # Remove duplicates in break events
        .sort_values(['agent','queuename','time'])
        .groupby(['queuename','agent'],observed=False)
        [['time','event']]
        .apply(find_break_dur),

        on=['queuename','agent']
    
    )
    
)
#print(agent_login_events.columns)
if 'queuename' not in agent_login_events.columns or 'agent' not in agent_login_events.columns:
    # Assign from the index, as they might have been used in grouping
    agent_login_events = agent_login_events.reset_index()

# Now remove any duplicates based on 'queuename' and 'agent'
agent_login_events = agent_login_events.drop_duplicates(subset=['queuename', 'agent'])
agent_login_events.head()
#agent_login_events = agent_login_events.drop_duplicates(subset=['queuename', 'agent'])
#agent_login_events.head()

,queuename,agent,login_duration,first_login,last_logout,break_duration
0,6200,PJSIP/1251,0 days 04:22:35,2024-11-26 06:47:28,2024-11-26 16:00:19,0 days 01:53:01
7106,6200,PJSIP/1252,0 days 04:21:28,2024-11-26 06:53:20,2024-11-26 15:55:59,0 days 02:06:59
23018,6200,PJSIP/1253,0 days 05:54:15,2024-11-26 12:51:05,2024-11-26 21:59:07,0 days 02:17:43
36472,6200,PJSIP/1254,0 days 04:09:11,2024-11-26 07:05:43,2024-11-26 15:50:44,0 days 01:08:22
39694,6200,PJSIP/1255,0 days 05:03:27,2024-11-26 07:51:46,2024-11-26 17:01:03,0 days 01:18:26

In [35]:
# Ensure agent_login_events has 'queuename' and 'agent' as columns
agent_login_events = agent_login_events.reset_index() if isinstance(agent_login_events.index, pd.MultiIndex) else agent_login_events

data_log = (
    agent_login_events
    .join(
        call_log
        .query('event in ("CONNECT", "RINGCANCELED", "RINGNOANSWER")')
        [['agent', 'queuename', 'event']]
        .groupby(['queuename', 'agent'], observed=True)
        .agg(call_presented=('event', 'count')),
        on=['queuename', 'agent'],  # Specify keys for join
        how='left'  # Use left join to keep all rows in agent_login_events
    )
    .join(
        record_of_calls
        [['callid', 'queuename', 'agent', 'waited_duration', 'call_duration', 'hold_duration']]
        .query('agent.notna()')
        .groupby(['queuename', 'agent'], observed=True)
        .agg(
            call_answered=('callid', 'count'),
            short_calls=('call_duration', lambda x: x[x <= 10].sum()),
            talk_time=('call_duration', 'sum'),
            ring_time=('waited_duration', 'sum'),
            hold_time=('hold_duration', 'sum'),
            aht=('call_duration', 'mean'),
        ),
        on=['queuename', 'agent'],  # Specify keys for join
        how='left'
    )
)

In [36]:
#data_log.to_csv('data_log.csv', index=True)

In [37]:
(
    call_log.query('event in ("CONNECT","RINGCANCELED","RINGNOANSWER")')#.event.unique()
    [['agent','queuename','event']]
    .groupby(['queuename','agent'],observed=True)
    .count()
    # .reset_index()
)

                      event
queuename agent
6200      PJSIP/1251   1533
          PJSIP/1252   2222
          PJSIP/1253   3879
          PJSIP/1254   1191
          PJSIP/1255   1965
...                     ...
          PJSIP/2688    556
          PJSIP/2689    647
          PJSIP/2690   1168
          PJSIP/2691    884
          PJSIP/2692    675

[217 rows x 1 columns]