In [1]:
import pandas as pd
import psycopg2
from datetime import time,datetime

In [2]:
start_time = '2024-10-14 00:00:00'
end_time = '2024-11-02 00:00:00'
pd_start_time = pd.to_datetime(start_time)
pd_end_time = pd.to_datetime(end_time)

In [3]:
# Connect to PostgreSQL
conn = psycopg2.connect("postgresql://postgres:postgres@localhost/db01")
cursor = conn.cursor()

In [4]:
select_query_queue_log_call_log = """
    WITH finished_call_ids AS (
    SELECT callid  
    FROM acd_logs 
    WHERE "q_event" IN ('EXITEMPTY', 'COMPLETEAGENT', 'COMPLETECALLER', 'ABANDON') and "time" between %s and %s 
    )
        SELECT ql.* 
        FROM acd_logs ql
        JOIN finished_call_ids fci ON ql.callid = fci.callid;
    """

In [5]:
cursor.execute(select_query_queue_log_call_log,( start_time, end_time))#{'start_time':start_time,'end_time':end_time})

In [6]:
call_log_data = cursor.fetchall()

In [7]:
call_log_column = [desc[0] for desc in cursor.description]

In [8]:
select_query_queue_log_agent_log = """select time,q_name,q_agent,"q_event" 
from acd_logs
where "q_event" 
in ('PAUSE','UNPAUSE','ADDMEMBER','REMOVEMEMBER') 
and "time" between %s and %s 
;"""

In [9]:
cursor.execute(select_query_queue_log_agent_log,(start_time,end_time))#{'start_time':start_time,'end_time':end_time})
agent_log_data = cursor.fetchall()
agent_log_column = [desc[0] for desc in cursor.description]

In [10]:
# Close the cursor and connection
cursor.close()  # Closes the cursor
conn.close()  # Closes the database connection

In [11]:
#call_log[['time']].head(2)

In [12]:
call_log = (
    pd.DataFrame(call_log_data,columns=call_log_column)
    .assign(
        queuename= lambda x: x.q_name.astype('category'),
        agent = lambda x: x.q_agent.astype('category'),
        event = lambda x: x.q_event.astype('category'),
    )
)
call_log = call_log.drop(columns=['q_name', 'q_agent', 'q_event'])

In [13]:
call_log.head()

,entrydate,time,callid,data1,data2,data3,data4,data5,container_id,skillset,circle,ZONE,agent_name,state,queuename,agent,event
0,2024-10-14 01:36:56,2024-10-14 00:01:21,1728844280.158625,1,1728844280.158626,0,,,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,Utkarsh Tiwari,,WBAC,PJSIP/2297,CONNECT
1,2024-10-14 01:36:56,2024-10-14 00:06:23,1728844280.158625,1,302,1,,,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,Utkarsh Tiwari,,WBAC,PJSIP/2297,COMPLETECALLER
2,2024-10-14 01:36:56,2024-10-14 00:01:20,1728844280.158625,,9433245662,1,,,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,,,WBAC,NONE,ENTERQUEUE
3,2024-10-14 01:36:56,2024-10-14 00:06:26,1728844586.158631,,9477875071,1,,,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,,,WBAC,NONE,ENTERQUEUE
4,2024-10-14 01:36:56,2024-10-14 00:08:49,1728844586.158631,0,143,1,,,WBACDIVRSDC0007,SK_SET:BB_CNPcsexe_Ben_KOL,KOL,EZ,Barun Sharma,,WBAC,PJSIP/2287,COMPLETECALLER

In [14]:
call_log['event'].unique()

['CONNECT', 'COMPLETECALLER', 'ENTERQUEUE', 'COMPLETEAGENT', 'EXITEMPTY', 'ABANDON', 'RINGNOANSWER', 'RINGCANCELED', 'AGENTDUMP']
Categories (9, object): ['ABANDON', 'AGENTDUMP', 'COMPLETEAGENT', 'COMPLETECALLER', ..., 'ENTERQUEUE', 'EXITEMPTY', 'RINGCANCELED', 'RINGNOANSWER']

In [15]:
call_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444975 entries, 0 to 444974
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   entrydate     444975 non-null  datetime64[ns]
 1   time          444975 non-null  datetime64[ns]
 2   callid        444975 non-null  object
 3   data1         444975 non-null  object
 4   data2         444975 non-null  object
 5   data3         444975 non-null  object
 6   data4         444975 non-null  object
 7   data5         444975 non-null  object
 8   container_id  444975 non-null  object
 9   skillset      444975 non-null  object
 10  circle        444975 non-null  object
 11  ZONE          444975 non-null  object
 12  agent_name    444975 non-null  object
 13  state         444975 non-null  object
 14  queuename     444975 non-null  category
 15  agent         444975 non-null  category
 16  event         444975 non-null  category
dtypes: category(3), datetime64[ns](2), object(12)
memory usage: 49.2+ MB

In [16]:
agent_log = (
    pd.DataFrame(agent_log_data,columns=agent_log_column)
    .assign(
        queuename= lambda x: x.q_name.astype('category'),
        agent = lambda x: x.q_agent.astype('category'),
        event = lambda x: x.q_event.astype('category'),
    )
)
agent_log = agent_log.drop(columns=['q_name', 'q_agent', 'q_event'])

In [17]:
agent_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24545 entries, 0 to 24544
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       24545 non-null  datetime64[ns]
 1   queuename  24545 non-null  category
 2   agent      24545 non-null  category
 3   event      24545 non-null  category
dtypes: category(3), datetime64[ns](1)
memory usage: 298.0 KB

In [18]:
agent_log.head()

                 time queuename       agent         event
0 2024-11-01 18:42:28      WBAC  PJSIP/2304         PAUSE
1 2024-11-01 13:32:05      WBAC  PJSIP/2312  REMOVEMEMBER
2 2024-11-01 16:22:36      BRAC  PJSIP/2575       UNPAUSE
3 2024-11-01 16:08:04      ORAC  PJSIP/1797       UNPAUSE
4 2024-11-01 13:42:47      APAC  PJSIP/1551  REMOVEMEMBER

In [19]:
(
    call_log
    .query("event in ['ENTERQUEUE', 'CONNECT', 'ADDMEMBER', 'COMPLETECALLER', 'COMPLETEAGENT', 'ABANDON', 'EXITEMPTY']")
    .pivot_table(index='callid', columns='event', values='time', aggfunc='first',observed=False)
    .assign(
        COMPLETE=lambda x: x['COMPLETEAGENT'].combine_first(x['COMPLETECALLER']),  # Prioritize COMPLETEAGENT, fallback to COMPLETECALLER
        AGENT_COMPLETED=lambda x: x['COMPLETEAGENT'].notna()                      # True if COMPLETEAGENT has data
    )
    [['ENTERQUEUE', 'ABANDON', 'EXITEMPTY', 'CONNECT', 'COMPLETE', 'AGENT_COMPLETED']]  # Final column selection
)

event,ENTERQUEUE,ABANDON,EXITEMPTY,CONNECT,COMPLETE,AGENT_COMPLETED
callid,,,,,,
1728844280.158625,2024-10-14 00:01:20,NaT,NaT,2024-10-14 00:01:21,2024-10-14 00:06:23,False
1728844586.158631,2024-10-14 00:06:26,NaT,NaT,2024-10-14 00:06:26,2024-10-14 00:08:49,False
1728844728.144299,2024-10-14 00:08:48,NaT,NaT,2024-10-14 00:08:52,2024-10-14 00:10:30,True
1728844979.306471,2024-10-14 00:12:59,NaT,2024-10-14 00:12:59,NaT,NaT,False
1728845059.402491,2024-10-14 00:14:19,NaT,NaT,2024-10-14 00:14:20,2024-10-14 00:15:56,False
...,...,...,...,...,...,...
1730485312.310244,2024-11-01 23:51:52,NaT,NaT,2024-11-01 23:52:08,2024-11-01 23:52:33,False
1730485424.271625,2024-11-01 23:53:44,NaT,NaT,2024-11-01 23:53:55,2024-11-01 23:55:34,False
1730485501.379247,2024-11-01 23:55:01,NaT,2024-11-01 23:55:01,NaT,NaT,False
1730485581.271633,2024-11-01 23:56:21,NaT,NaT,2024-11-01 23:56:21,2024-11-01 23:56:25,True
1730485625.500533,2024-11-01 23:57:05,NaT,NaT,2024-11-01 23:57:06,2024-11-01 23:57:34,True

In [20]:
(
    call_log.query("event=='ENTERQUEUE'")
    [['callid','time','queuename','data2']]
    .rename(columns={'data2':'src','time':'ENTERQUEUE'})
)

                   callid          ENTERQUEUE queuename         src
2       1728844280.158625 2024-10-14 00:01:20      WBAC  9433245662
3       1728844586.158631 2024-10-14 00:06:26      WBAC  9477875071
8       1728844728.144299 2024-10-14 00:08:48      BRAC  9308413377
10      1728844979.306471 2024-10-14 00:12:59      KTKA  9481039629
13      1728845059.402491 2024-10-14 00:14:19      KRLA  8137099743
...                   ...                 ...       ...         ...
444963  1730485312.310244 2024-11-01 23:51:52      WBAC  9432229047
444965  1730485424.271625 2024-11-01 23:53:44      BRAC  7254890432
444967  1730485501.379247 2024-11-01 23:55:01      KTKA  9482497366
444969  1730485581.271633 2024-11-01 23:56:21      BRAC  7254890432
444973  1730485625.500533 2024-11-01 23:57:05      KRLA  9946282431

[137954 rows x 4 columns]

In [21]:
(
    call_log.query("event=='CONNECT'")
    [['callid','time','agent','data1']]
    .assign(waited_duration  = lambda x : x.data1.astype('float'))
    .rename(columns={'time':'CONNECT'})
    
    # .info()
)

,callid,CONNECT,agent,data1,waited_duration
0,1728844280.158625,2024-10-14 00:01:21,PJSIP/2297,1,1.0
5,1728844586.158631,2024-10-14 00:06:26,PJSIP/2287,0,0.0
7,1728844728.144299,2024-10-14 00:08:52,PJSIP/2564,4,4.0
11,1728845059.402491,2024-10-14 00:14:20,PJSIP/1276,1,1.0
18,1728845196.158641,2024-10-14 00:16:36,PJSIP/2297,0,0.0
...,...,...,...,...,...
444960,1730485309.538432,2024-11-01 23:51:50,PJSIP/1461,1,1.0
444962,1730485312.310244,2024-11-01 23:52:08,PJSIP/2305,16,16.0
444966,1730485424.271625,2024-11-01 23:53:55,PJSIP/2598,11,11.0
444971,1730485581.271633,2024-11-01 23:56:21,PJSIP/2611,0,0.0
444974,1730485625.500533,2024-11-01 23:57:06,PJSIP/1276,1,1.0

In [22]:
(
    call_log.query("event in ('COMPLETECALLER','COMPLETEAGENT')")
    [['callid','time','data2']]
    .assign(call_duration  = lambda x : x.data2.astype('float'))
    .rename(columns={'time':'COMPLETE'})
)

                   callid            COMPLETE data2  call_duration
1       1728844280.158625 2024-10-14 00:06:23   302          302.0
4       1728844586.158631 2024-10-14 00:08:49   143          143.0
6       1728844728.144299 2024-10-14 00:10:30    98           98.0
12      1728845059.402491 2024-10-14 00:15:56    96           96.0
17      1728845196.158641 2024-10-14 00:17:51    75           75.0
...                   ...                 ...   ...            ...
444958  1730485309.538432 2024-11-01 23:52:26    36           36.0
444961  1730485312.310244 2024-11-01 23:52:33    25           25.0
444964  1730485424.271625 2024-11-01 23:55:34    99           99.0
444970  1730485581.271633 2024-11-01 23:56:25     4            4.0
444972  1730485625.500533 2024-11-01 23:57:34    28           28.0

[126024 rows x 4 columns]

In [23]:
(
    call_log.query("event in ('ABANDON','EXITEMPTY')")
    [['callid','time','data3','event']]
    .assign(waited_duration  = lambda x : x['data3'])
    .pivot_table(index=['callid','waited_duration'], columns=['event'], values='time', observed = 'FALSE',aggfunc='first')
    .reset_index()
)

event,callid,waited_duration,ABANDON,EXITEMPTY
0,1728844979.306471,0,NaT,2024-10-14 00:12:59
1,1728845184.425162,0,NaT,2024-10-14 00:16:24
2,1728845321.425164,0,NaT,2024-10-14 00:18:41
3,1728845343.425166,0,NaT,2024-10-14 00:19:03
4,1728845409.144307,292,2024-10-14 00:25:01,NaT
...,...,...,...,...
11925,1730484347.379241,0,NaT,2024-11-01 23:35:47
11926,1730484784.379243,0,NaT,2024-11-01 23:43:05
11927,1730484819.379245,0,NaT,2024-11-01 23:43:39
11928,1730485025.164502,4,2024-11-01 23:47:09,NaT
11929,1730485501.379247,0,NaT,2024-11-01 23:55:01

In [24]:
def find_hold_time(group: pd.DataFrame):
    if not group.shape[0]>2:
        return 0
    if group['event'].iloc[-2]=='HOLD':
        group['event'].iloc[-1] = 'UNHOLD'
    return group.assign(
            duration = lambda x: pd.to_datetime(x['time']).diff()#.dt.total_seconds()
        ).query('event == "UNHOLD"')['duration'].sum()

In [25]:
(
    call_log
    [['time','callid','event']]
    .query("event in ('HOLD','UNHOLD','COMPLETECALLER','COMPLETEAGENT')")
    .sort_values(['callid','time'])
    .groupby('callid')
    .apply(find_hold_time, include_groups=False)
    .reset_index()
    .rename(columns={0:'hold_duration'})
    
)

                   callid  hold_duration
0       1728844280.158625              0
1       1728844586.158631              0
2       1728844728.144299              0
3       1728845059.402491              0
4       1728845196.158641              0
...                   ...            ...
126019  1730485309.538432              0
126020  1730485312.310244              0
126021  1730485424.271625              0
126022  1730485581.271633              0
126023  1730485625.500533              0

[126024 rows x 2 columns]

In [26]:
record_of_calls= (
    call_log.query("event=='ENTERQUEUE'")[["callid", "time", "queuename", "data2"]]
    .rename(columns={"data2": "src", "time": "ENTERQUEUE"})
    .merge(
        call_log.query("event in ('ABANDON','EXITEMPTY')")[
            ["callid", "time", "data3", "event"]
        ]
        .assign(waited_duration_abandon=lambda x: x.data3)[
            ["callid", "time", "waited_duration_abandon", "event"]
        ]
        # .rename(columns={'data3':'waited_duration_abandon'})
        .pivot_table(
            index=["callid", "waited_duration_abandon"],
            columns=["event"],
            values="time",
            observed="false",
            aggfunc='first'
        )
        .reset_index(),
        on=["callid"],
        how="outer",
    )
    .merge(
        call_log.query("event=='CONNECT'")[["callid", "time", "agent", "data1"]]
        .assign(waited_duration=lambda x: x.data1.astype(float))[
            ["callid", "time", "agent", "waited_duration"]
        ]
        .rename(columns={"time": "CONNECT"}),
        on=["callid"],
        how="outer",
    )
    .merge(
        call_log.query("event in ('COMPLETECALLER','COMPLETEAGENT')")[
            ["callid", "time", "data2","event"]
        ]
        .assign(call_duration=lambda x: x.data2.astype(float),
                agent_completed=lambda x: x['event']=='COMPLETEAGENT')[
            ["callid", "time", "call_duration", "agent_completed"]
        ]
        .rename(columns={"time": "COMPLETE"}),
        on=["callid"],
        how="outer",
    )
    .merge(
        call_log[["time", "callid", "event"]]
        .query("event in ('HOLD','UNHOLD','COMPLETECALLER','COMPLETEAGENT')")
        .sort_values(["callid", "time"])
        .groupby("callid")
        .apply(find_hold_time,include_groups=False)
        .reset_index()
        .rename(columns={0: "hold_duration"}),
        on=["callid"],
        how="left",
    )
    .assign(
        waited_duration=lambda x: x.waited_duration.fillna(x.waited_duration_abandon),
        call_duration=lambda x: x.call_duration.fillna(0),
        hold_duration=lambda x: x.hold_duration.fillna(0)

    )[
        [
            "callid",
            "queuename",
            "src",
            "ENTERQUEUE",
            "ABANDON",
            "EXITEMPTY",
            "CONNECT",
            "COMPLETE",            
            "agent",
            "waited_duration",
            "call_duration",
            "hold_duration",
            "agent_completed"
        ]
    ]
     .replace({pd.NaT:None})
    .dropna(subset=["queuename"])
)

In [29]:
#record_of_calls.to_csv('record_of_calls.csv', index=True)

In [28]:
record_of_calls

,callid,queuename,src,ENTERQUEUE,ABANDON,EXITEMPTY,CONNECT,COMPLETE,agent,waited_duration,call_duration,hold_duration,agent_completed
0,1728844280.158625,WBAC,9433245662,2024-10-14 00:01:20,None,None,2024-10-14 00:01:21,2024-10-14 00:06:23,PJSIP/2297,1.0,302.0,0.0,False
1,1728844586.158631,WBAC,9477875071,2024-10-14 00:06:26,None,None,2024-10-14 00:06:26,2024-10-14 00:08:49,PJSIP/2287,0.0,143.0,0.0,False
2,1728844728.144299,BRAC,9308413377,2024-10-14 00:08:48,None,None,2024-10-14 00:08:52,2024-10-14 00:10:30,PJSIP/2564,4.0,98.0,0.0,True
3,1728844979.306471,KTKA,9481039629,2024-10-14 00:12:59,None,2024-10-14 00:12:59,None,None,NaN,0,0.0,0.0,None
4,1728845059.402491,KRLA,8137099743,2024-10-14 00:14:19,None,None,2024-10-14 00:14:20,2024-10-14 00:15:56,PJSIP/1276,1.0,96.0,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137949,1730485312.310244,WBAC,9432229047,2024-11-01 23:51:52,None,None,2024-11-01 23:52:08,2024-11-01 23:52:33,PJSIP/2305,16.0,25.0,0.0,False
137950,1730485424.271625,BRAC,7254890432,2024-11-01 23:53:44,None,None,2024-11-01 23:53:55,2024-11-01 23:55:34,PJSIP/2598,11.0,99.0,0.0,False
137951,1730485501.379247,KTKA,9482497366,2024-11-01 23:55:01,None,2024-11-01 23:55:01,None,None,NaN,0,0.0,0.0,None
137952,1730485581.271633,BRAC,7254890432,2024-11-01 23:56:21,None,None,2024-11-01 23:56:21,2024-11-01 23:56:25,PJSIP/2611,0.0,4.0,0.0,True
137953,1730485625.500533,KRLA,9946282431,2024-11-01 23:57:05,None,None,2024-11-01 23:57:06,2024-11-01 23:57:34,PJSIP/1276,1.0,28.0,0.0,True

In [38]:
def fillna_at_start_index(series, value):
    if pd.isna(series.iloc[0]):
        series.iloc[0] = value
    return series

def fillna_at_end_index(series, value):
    if pd.isna(series.iloc[-1]):
        series.iloc[-1] = value
    return series

def find_login_dur(group: pd.DataFrame):
    login_event = pd.DataFrame({'time': pd_start_time, 'event': 'ADDMEMBER'},index=[-1])
    logout_event = pd.DataFrame({'time': pd_end_time, 'event': 'REMOVEMEMBER'},index=[group.shape[0]])
    #print(group)
    return pd.concat(
        [
                login_event if group['event'].iloc[0]=='REMOVEMEMBER' else None,
                group,
                logout_event if group['event'].iloc[-1]=='ADDMEMBER' else None
             ]
        ).assign(
            duration = lambda x: pd.to_datetime(x['time']).diff(),#.dt.total_seconds()
            first_login = lambda x: x['time'].iloc[0],
            last_logout = lambda x: x['time'].iloc[-1]
        ).query(
            'event == "REMOVEMEMBER"'
        ).assign(login_duration = lambda x: x.duration.sum())
[['login_duration','first_login','last_logout']]

    
    # new_df['diff']=pd.to_datetime(new_df['time']).diff() #.dt.total_seconds()
    # return pd.DataFrame({'login_time':new_df.query('event == "REMOVEMEMBER"')['diff'].sum()},index=[1])

def find_break_dur(group: pd.DataFrame):
    breakout_event = pd.DataFrame({'time': pd_start_time, 'event': 'PAUSE'},index=[-1])
    breakin_event = pd.DataFrame({'time': pd_end_time, 'event': 'UNPAUSE'},index=[group.shape[0]])
    #print(group)
    return pd.concat(
            [
                breakout_event if group['event'].iloc[0]=='UNPAUSE' else None,
                group,
                breakin_event if group['event'].iloc[-1]=='PAUSE' else None
             ]
        ).assign(
            duration = lambda x: pd.to_datetime(x['time']).diff()#.dt.total_seconds()
        ).query('event == "UNPAUSE"').assign(break_duration = lambda x: x.duration.sum())['break_duration']

In [39]:
agent_log.head()

                 time queuename       agent         event
0 2024-10-28 18:34:56      BRAC  PJSIP/2610     ADDMEMBER
1 2024-10-28 20:16:48      ASAC  PJSIP/2678       UNPAUSE
2 2024-10-28 14:20:55      ASAC  PJSIP/2662       UNPAUSE
3 2024-10-28 16:44:02      KRLA  PJSIP/1253  REMOVEMEMBER
4 2024-10-28 12:34:49      KRLA  PJSIP/1259  REMOVEMEMBER

In [31]:
#from datetime import time, datetime

# Check if 'time' is in the correct datetime format
#if agent_log['time'].dtype == 'object':
    # If the 'time' column contains only time (no date), we can convert it
 #   agent_log['time'] = agent_log['time'].apply(lambda t: pd.Timestamp.combine(pd.Timestamp('today'), t) if isinstance(t, time) else t)

In [46]:
agent_test=(
    agent_log
    [['time','queuename','agent','event']]
    .query("event in ('ADDMEMBER','REMOVEMEMBER')")
    .drop_duplicates(subset=['agent', 'queuename', 'time', 'event'])  # Remove duplicates in login events
    .sort_values(['agent','queuename','time'])
    .groupby(['queuename','agent'],observed=False)
    [['time','event']]
   .apply(find_login_dur)
    
)

In [48]:
agent_test.shape

(10321, 6)

In [49]:
agent_break_test=(agent_log
        [['time','queuename','agent','event']]
        .query("event in ('PAUSE','UNPAUSE')")
        .drop_duplicates(subset=['agent', 'queuename', 'time', 'event'])  # Remove duplicates in break events
        .sort_values(['agent','queuename','time'])
        .groupby(['queuename','agent'],observed=False)
        [['time','event']]
        .apply(find_break_dur)
)

In [51]:
agent_break_test.sample(10)

queuename  agent
APAC       PJSIP/1556  1175    0 days 05:32:54
           PJSIP/1563  4487    0 days 04:55:04
           PJSIP/1557  1183    0 days 03:05:05
           PJSIP/1558  10493   0 days 01:25:13
KRLA       PJSIP/1251  8263    0 days 01:15:37
BRAC       PJSIP/2611  4114    0 days 05:43:21
WBAC       PJSIP/2304  8321    0 days 06:27:53
           PJSIP/2296  24465   0 days 05:45:26
KRLA       PJSIP/1253  24142   0 days 05:41:35
BRAC       PJSIP/2576  21529   0 days 03:36:47
Name: break_duration, dtype: timedelta64[ns]

In [57]:
agent_login_events =(
    agent_log
    [['time','queuename','agent','event']]
    .query("event in ('ADDMEMBER','REMOVEMEMBER')")
    .drop_duplicates(subset=['agent', 'queuename', 'time', 'event'])  # Remove duplicates in login events
    .sort_values(['agent','queuename','time'])
    .groupby(['queuename','agent'],observed=False)
    [['time','event']]
    .apply(find_login_dur)
    .merge(
        agent_log
        [['time','queuename','agent','event']]
        .query("event in ('PAUSE','UNPAUSE')")
        .drop_duplicates(subset=['agent', 'queuename', 'time', 'event'])  # Remove duplicates in break events
        .sort_values(['agent','queuename','time'])
        .groupby(['queuename','agent'],observed=False)
        [['time','event']]
        .apply(find_break_dur),

        on=['queuename','agent']
    
    )
    
)
#print(agent_login_events.columns)
if 'queuename' not in agent_login_events.columns or 'agent' not in agent_login_events.columns:
    # Assign from the index, as they might have been used in grouping
    agent_login_events = agent_login_events.reset_index()

# Now remove any duplicates based on 'queuename' and 'agent'
agent_login_events = agent_login_events.drop_duplicates(subset=['queuename', 'agent'])
agent_login_events.shape
#agent_login_events = agent_login_events.drop_duplicates(subset=['queuename', 'agent'])
agent_login_events.head()

,queuename,agent,time,event,duration,first_login,last_logout,login_duration,break_duration
0,APAC,PJSIP/1551,2024-10-14 11:28:42,REMOVEMEMBER,0 days 03:45:30,2024-10-14 07:43:12,2024-11-01 16:17:49,5 days 20:15:27,0 days 06:05:04
2345,APAC,PJSIP/1554,2024-10-14 11:27:52,REMOVEMEMBER,0 days 03:16:08,2024-10-14 08:11:44,2024-11-01 16:46:19,5 days 06:35:27,0 days 03:40:57
3705,APAC,PJSIP/1555,2024-10-14 15:49:33,REMOVEMEMBER,0 days 01:18:32,2024-10-14 14:31:01,2024-10-31 15:23:18,5 days 10:25:30,0 days 03:17:31
4681,APAC,PJSIP/1556,2024-10-14 11:25:30,REMOVEMEMBER,0 days 04:34:43,2024-10-14 06:50:47,2024-11-01 15:59:49,5 days 08:43:18,0 days 05:32:54
6145,APAC,PJSIP/1557,2024-10-14 15:07:20,REMOVEMEMBER,0 days 00:02:30,2024-10-14 15:04:50,2024-11-01 23:41:07,2 days 20:33:10,0 days 03:05:05

In [58]:
# Ensure agent_login_events has 'queuename' and 'agent' as columns
#agent_login_events = agent_login_events.reset_index() if isinstance(agent_login_events.index, pd.MultiIndex) else agent_login_events

data_log = (
    agent_login_events
    .join(
        call_log
        .query('event in ("CONNECT", "RINGCANCELED", "RINGNOANSWER")')
        [['agent', 'queuename', 'event']]
        .groupby(['queuename', 'agent'], observed=True)
        .agg(call_presented=('event', 'count')),
        on=['queuename', 'agent'],  # Specify keys for join
        how='left'  # Use left join to keep all rows in agent_login_events
    )
    .join(
        record_of_calls
        [['callid', 'queuename', 'agent', 'waited_duration', 'call_duration', 'hold_duration']]
        .query('agent.notna()')
        .groupby(['queuename', 'agent'], observed=True)
        .agg(
            call_answered=('callid', 'count'),
            short_calls=('call_duration', lambda x: x[x <= 10].sum()),
            talk_time=('call_duration', 'sum'),
            ring_time=('waited_duration', 'sum'),
            hold_time=('hold_duration', 'sum'),
            aht=('call_duration', 'mean'),
        ),
        on=['queuename', 'agent'],  # Specify keys for join
        how='left'
    )
)

In [62]:
data_log.sample(10)

,queuename,agent,time,event,duration,first_login,last_logout,login_duration,break_duration,call_presented,call_answered,short_calls,talk_time,ring_time,hold_time,aht
84582,ORAC,PJSIP/1799,2024-10-14 17:40:28,REMOVEMEMBER,0 days 07:04:54,2024-10-14 10:35:34,2024-11-02 00:00:00,4 days 21:32:10,0 days 00:20:49,731,337,478.0,27268.0,3507.0,0.0,80.913947
100045,TNAC,PJSIP/1466,2024-10-14 11:00:49,REMOVEMEMBER,0 days 00:05:48,2024-10-14 10:55:01,2024-11-01 18:38:19,3 days 08:43:35,0 days 02:56:29,1611,1534,145.0,168350.0,45623.0,0.0,109.745763
83421,ORAC,PJSIP/1784,2024-10-14 00:02:34,REMOVEMEMBER,0 days 00:02:34,2024-10-14 00:00:00,2024-11-01 23:58:16,5 days 18:19:34,0 days 03:47:31,1004,536,735.0,40671.0,6609.0,0.0,75.878731
21908,BRAC,PJSIP/2607,2024-10-14 10:11:22,REMOVEMEMBER,0 days 04:04:42,2024-10-14 06:06:40,2024-11-01 15:23:56,5 days 23:38:55,0 days 08:06:54,1153,565,878.0,76426.0,4591.0,0.0,135.267257
73189,KTKA,PJSIP/1657,2024-10-14 08:19:11,REMOVEMEMBER,0 days 00:08:59,2024-10-14 08:10:12,2024-11-01 19:42:09,5 days 22:51:22,0 days 12:24:57,3709,3607,535.0,256069.0,107531.0,0.0,70.992237
18123,BRAC,PJSIP/2593,2024-10-14 16:08:36,REMOVEMEMBER,0 days 02:12:54,2024-10-14 13:55:42,2024-11-01 18:20:43,3 days 00:45:18,0 days 03:32:07,465,242,207.0,24808.0,2101.0,0.0,102.512397
21476,BRAC,PJSIP/2606,2024-10-14 15:00:24,REMOVEMEMBER,0 days 09:10:47,2024-10-14 05:49:37,2024-10-31 15:31:08,5 days 19:18:27,0 days 09:15:25,1046,621,491.0,77378.0,5305.0,0.0,124.602254
12582,BRAC,PJSIP/2563,2024-10-14 17:09:28,REMOVEMEMBER,0 days 09:12:54,2024-10-14 07:56:34,2024-10-31 16:00:24,5 days 12:29:04,0 days 09:31:06,1032,514,352.0,68413.0,5594.0,0.0,133.099222
119758,TNAC,PJSIP/1475,2024-10-14 14:19:33,REMOVEMEMBER,0 days 00:15:27,2024-10-14 14:04:06,2024-11-01 21:08:33,2 days 09:09:00,0 days 04:34:40,1073,1072,59.0,116035.0,37485.0,0.0,108.241604
25687,BRAC,PJSIP/2614,2024-10-14 20:15:26,REMOVEMEMBER,0 days 09:20:12,2024-10-14 10:55:14,2024-10-31 18:00:24,5 days 07:15:53,0 days 05:02:39,879,520,362.0,66417.0,5144.0,0.0,127.725000

In [ ]:
#data_log.to_csv('data_log.csv', index=True)

In [37]:
(
    call_log.query('event in ("CONNECT","RINGCANCELED","RINGNOANSWER")')#.event.unique()
    [['agent','queuename','event']]
    .groupby(['queuename','agent'],observed=True)
    .count()
    # .reset_index()
)

                      event
queuename agent
APAC      PJSIP/1551   2765
          PJSIP/1554   2549
          PJSIP/1555   3276
          PJSIP/1556   2622
          PJSIP/1557   1316
...                     ...
WBAC      PJSIP/2315   1077
          PJSIP/2317    758
          PJSIP/2318    418
          PJSIP/2319    704
          PJSIP/2320    650

[202 rows x 1 columns]